@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
    }

<p>Bienvenido al Sistema de TICKETS de IRSOFT. Este Software le permite gestionar los reclamos inherentes a su Sistema de Desarrollo de manera dinamica y practica.</p>
