@using System.IdentityModel.Configuration
@using System.Web.UI.WebControls
@using MvcApplication1.Models
@model List<Ticket>


@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}
  
<html>
    <head>Listado de Tickets</head>
    <body>
        <div style="width: 100%">
            @{
                var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 15);
                @grid.GetHtml(htmlAttributes: new { id = "DataTable",@class="table table-hover" }, 
        columns: grid.Columns(
       grid.Column("TicketId","Id"),grid.Column("UsuarioDescripcion","Usuario"),grid.Column("TicketDescripcion","Descripcion"),
       grid.Column("", header: "Detalles", format: @<text>@Html.ActionLink("Editar","EditTicket",new {t=item.TicketId})</text>)
      ))
        }
              
            
        </div>
    </body>

</html>





