@using System.Web.UI.WebControls
@using MvcApplication1.Models
@model Ticket

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}
  @{var grid = WebGrid(Model);}
<html>
    <head>Listado de Tickets</head>
    <body>
        <div>
            @grid.GetHtml(grid.Column);

           
            
        </div>
    </body>

</html>





