@using MvcApplication1.Controllers
@using MvcApplication1.Models
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<script language="javascript" src="/Scripts/jquery-1.10.2.js"   type="text/javascript"></script>
<script src="/Scripts/Login.js" type="text/javascript"></script>


<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <input id="Usuario" type="text" />
            <input id="Password" type="text" />
            <input id="login" type="button" value="login" name="login" />  
           <input id="login2" type="button" value="login2" name="login2" />  
        </div>
    </body>
</html>

