@using System.IdentityModel.Configuration
@using System.Web.UI.WebControls
@using MvcApplication1.Models
@model List<Ticket>


@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}
  
<html>
    <head>Listado de Tickets</head>
    <body>
        <div>
            @{
                var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
                @grid.GetHtml(htmlAttributes: new { id = "DataTable" }, 
columns: grid.Columns(
       grid.Column("TicketId"),grid.Column("Usuario"),
       grid.Column("", header: "ToEdit", format: @<text>@Html.ActionLink("Editar","CreateTicket",new {t=item.TicketId})</text>)
      ))
        }
              
            
        </div>
    </body>

</html>





